@import "variables"
@import "mixins"

#aether-nav
  padding: 5px
  background-color: $background
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000

  .form-group
    margin-bottom: 0

  .input-group-btn button, .input-group-btn input
    height: 34px

  .dropdown-menu
    padding: 10px 0
    background-color: $background
    color: $background-contrast
    max-height: 90vh
    overflow-y: auto
    overflow-x: hidden

    li
      display: block
      padding: 1px 10px
      cursor: pointer
      &:hover
        background-color: darken($background, 5%)
